[Unit]
Description=QingCloud Desktop Host Server For Guest
After=dbus.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/vd_host
ExecStart=/usr/bin/vd_host
PrivateTmp=true

[Install]
WantedBy=vd_host.target
